.circle-image-upload {
    width: 100px;
    height: 100px;
    overflow: hidden; 
    background-image: url('/placeholder.png'); 
    background-position: center; 
    background-size: cover;
    width: 100%;
  
    border: solid 1px grey;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .circle-image-upload input[type="file"] {
    opacity: 0; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  .upload-action {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }