$globalColor0: #0573f0;
$globalColor1: #0769da;
$globalColor2: #27323f;
$globalColor3: #48515b;
$globalColor4: #f7fbfc;
$globalColor5: #FFFFFF;
$globalColor6: #dce3e5;
$globalColor7: #9ca7ab;
$globalColor8: #000000;